@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.clock {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	animation: fadeIn 1s linear;
	font-size: 100%;
}

.clock .time {
	font-size: 800%;
	font-weight: 700;
}

.clock .format {
	font-size: 500%;
}
